// worker Saga : will be fired on USER_FETCH_REQUESTED actions

function* requestAutocomplete(action) {
   yield delay(100)
   const results = yield call(api.fetchAutocompleteResults, action.string);
   yield put({type: "AUTOCOMPLETE_RESULTS", results});
}

function* mySaga() {
  yield* takeLatest("AUTOCOMPLETE_REQUESTED", requestAutocomplete);
}
