module.exports = function (source) {
  this.cacheable && this.cacheable()

  var methods = []

  source.split("\n")
        .filter(line => line.match(/^ +def /))
        .forEach(line => {

    methods.push(line.replace(/^ +def /, ''))
    
  }

  return 'module.exports = ' +
          JSON.stringify(methods)
}
